    <header>
  <div class="navbar navbar-dark bg-dark shadow-sm background-head">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>MY FOOD</strong>
      </a>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1> <strong class="head-slogan">Seu novo jeito</strong> de pedir comida!</h1>
      <p class="lead text-muted">
        Peça a Sua Comida Online no <span class="text-logo">MY FOOD</span>. O Melhor Restaurante da internet! 
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer class="text-muted">
  <div class="container">
    Teste Técnico para a vaga de Desenvolvedor <a href="http://www.tecprime.com.br/">Tecprime </a>
  </div>
</footer>