    <header>
  <div class="navbar navbar-dark bg-dark shadow-sm background-head">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>MY FOOD</strong>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <svg  fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
      <span class="ml-1" style="color:#fff;">1</span>
    </button>
    </div>
  </div>
</header>
<ngx-alerts></ngx-alerts>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1> <strong class="head-slogan">Seu novo jeito</strong> de pedir comida!</h1>
      <p class="lead text-muted">
        Peça a Sua Comida Online no <span class="text-logo">MY FOOD</span>. O Melhor Restaurante da internet! 
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
<footer class="text-muted">
  <div class="container">
    Teste Técnico para a vaga de Desenvolvedor <a href="http://www.tecprime.com.br/">Tecprime </a>
  </div>
</footer>