<div class="modal-header">
	<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="this.listOrder && this.listOrder.length > 0">
<h5 class="mb-3">{{ title}}</h5>
  <div class="row mb-1 orders" *ngFor="let order of this.listOrder">
    <div class="col-6 mb-2" >
       Produto:  <span class="span-product">{{order.nameProduct}}</span><br>
       Quantidade: <span class="span-product">{{order.quantity}}</span><br>
       Preço Unitário : <span class="span-product mb-2 color-price">{{order.price | currency:'BRL' }}</span><br>
       
    </div>
    <div class="col-6 text-right">
        <button (click)="editOrder(order.id_product, order.nameProduct, order.price)" type="button" class="btn btn-light mt-3">Editar</button> 
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-12 mb-3">
        Total: <span class="span-product color-price" >{{ this.priceFinal |currency:'BRL' }}</span>
    </div>
    <div class="col-12 text-center">
        <button (click)="finishOrder()" type="button" class="btn btn-success ">Finalizar pedido</button>
    </div>
</div>
</div>

<div class="modal-body" *ngIf="!this.listOrder || this.listOrder.length === 0">
 Nenhum pedido foi adicionado!   
 </div>