<div class="modal-header">
	<button type="button" class="close pull-right" aria-label="Close" (click)="this.modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
<h5 class="mb-3">{{ title}}</h5>
  <div class="row">
    <div class="col">
       Quantidade: <span class="span-product">{{this.productItem.quantidade}}</span><br>
       Preço: <span class="span-product">{{this.productItem.price}}</span><br>
       Total: <span class="span-product color-price">{{this.productItem.price * this.productItem.quantidade | currency:'BRL'}}</span>
    </div>
</div>
<div class="row">
  <div class="col text-center mt-3">
    <button (click)="removeItem()" [hidden]="this.productItem.quantidade === 1" type="button" class="btn btn-danger mr-3">Remover</button>
    <button (click)="addMoreItem()" type="button" class="btn btn-success">Adicionar</button>
  </div>
</div>
</div>