<div class="row">
  <div class="col-10">
    <h4 class="mb-4 title-head" >Produtos</h4>
  </div>
  <div class="col-2 text-right back-categories" (click)="backToCategories()">
    <svg fill="#4F94B3"width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg>
    Voltar
  </div>
</div>
<div class="row" *ngIf="products ; else loading">
    <div class="col-md-4"  *ngFor="let product of products" (click)="openModalOrder(product.id, product.nome, product.preco)">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
        <p class="card-text name">{{ product.nome}}</p>
        <p class="card-text description mb-4">{{ product.descricao}}</p>
        <p class="card-text preco">{{ product.preco | currency:'BRL'}}</p>
        </div>
        <button type="button" class="btn btn-danger">Comprar</button>  
      </div>
    </div>
</div>
<ng-template #loading>
  <div class="row">
      <div class="col-md-12">
        <span> Carregando Produtos...</span>   
      </div>
 </div>
</ng-template>